<h4> Month picker</h4>

<label>From Date </label> : &ensp;<dp-date-picker 
theme="dp-material" mode="month" 
[(ngModel)]="fromDate"
(onChange) = "fromDateChnange($event)"
></dp-date-picker>

<br>

<br>
<label>To Date </label> : &ensp;<dp-date-picker 
theme="dp-material" mode="month" 
[(ngModel)]="toDate"
(onChange) = "toDateChange($event)"
></dp-date-picker>



<br><br>


<label>Month Calender</label> :
<dp-date-picker 
theme="dp-material" mode="month" 
[(ngModel)]="selectedDate"
[config] = "config"
[minDate]="fromDate" 
[maxDate]="toDate"
>
</dp-date-picker>


 <br><br>
